name: Message Push

on:
  workflow_dispatch:
    inputs:
      REF_Number:
        description: 'Enter the REF Number'
        required: true
        default: '{"key": "refNo", "value": ""}'  # Corrected JSON format

jobs:
  Tran-Push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Display REF Number
        run: echo "The entered REF Number is ${{ github.event.inputs.REF_Number }}"

      - name: Azure Login
        run: az login --service-principal --username ${{ secrets.AZURE_CLIENT_ID }} --password ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}
        
      - name: Set Azure subscription
        run: az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Push Ref Number In Queue
        run: |
          # Step 1: Enable Public Network Access
          az servicebus namespace update \
            --resource-group D-service-bus \
            --name Dinesh-Service-Busname \
            --public-network-access All

          # Step 2: Send the Message
          az servicebus queue message send \
            --resource-group D-service-bus \
            --namespace-name Dinesh-Service-Busname \
            --queue-name feed-file \
            --body '${{ github.event.inputs.REF_Number }}' \
            --content-type 'application/json'

          # Step 3: Disable Public Network Access
          az servicebus namespace update \
            --resource-group D-service-bus \
            --name Dinesh-Service-Busname \
            --public-network-access Selected
