name: Message Push

on:
  workflow_dispatch:
    inputs:
      REF_Number:
        description: 'Enter the REF Number'
        required: true
        default: '{"key":{ "refNo" : ""}}'

jobs:
  Tran-Push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Display REF Number
        run: echo "The entered REF Number is  ${{ github.event.inputs.REF_Number }}"

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
        
      - name: Set Azure subscription
        run: az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Push Ref Number In Queue
        run: |
          # Step 1: Enable Public Network Access
          az servicebus namespace update \
            --resource-group D-service-bus \
            --name D-IPRU-NAMESPACE \
            --public-network-access Enabled

          # Step 2: Send the Message
          az servicebus queue message send \
            --resource-group D-service-bus \
            --namespace-name D-IPRU-NAMESPACE \
            --queue-name feed-file \
            --body '${{ github.event.inputs.REF_Number }}' \
            --content-type 'application/json'

          # Step 3: Disable Public Network Access
          az servicebus namespace update \
            --resource-group D-service-bus \
            --name D-IPRU-NAMESPACE \
            --public-network-access Disabled
